body{
  background-color: rgb(162, 231, 247);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}
input{
  display: block;

}
button,
input{
 
  margin-top: 10px;
   padding: 5px;
    background-color: rgb(162, 231, 247);
     border-radius: 5px;
  border: 1px solid grey; 
}
button{
  width: 100%;
}
button:hover{
  background-color: rgb(9, 201, 245);
}
h1{
  text-align: center;
}