.cart{
   min-width: 200px;
  background-color: bisque;
  padding: 10px;
  margin: 10px;
  text-align: center;
  height: 300px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.cart img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.App{
  display:flex;
  flex-wrap: wrap;
}